li {
  list-style-type: none;
}

#objective {
  color: #666;
  font-size: 21px;
}

#objective h2 {
  font-size: 36px;
}

#achievements {
  border-top: 1px solid #CCC;
  margin-top: 32px;
}

#experience {
  border-top: 1px solid #CCC;
  margin-top: 32px;
  margin-bottom: 64px;
}

#experience ul {
  padding:0;
}

#experience img {
  margin-top: 32px;
}