body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#username img {
	padding-right: 8px;
}

.card-tray {
	padding:24px;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	background-color: #EEE;
}

.card {
	background-color: #FFF;
	border:1px solid #CCC;
}

.card-likes {
	border-bottom: 1px solid #CCC;
}

.card-likes .btn {
	border-radius: 0;
	border:0;
}

.card-likes-toggle .btn {
	border-right: 1px solid #CCC;
}

.card-likes-options .btn {
	border-left: 1px solid #CCC;
}

.card-likes-list {
	margin-top:10px;
}

.card-comment-img img {
	padding:10px 14px;
}

.card-comment-text {
	margin-top: 10px;
}





